<div class="home-container">
  <div class="animated-bg"></div>
  
  <div class="profile">
      <img
      class="profile-image"
      src="http://localhost:8090/images//profile.jpg"
      alt="Profile Image"
    />
    <h1 class="name">{{ name }}</h1>
    <h2 class="title">{{ title }}</h2>
    <p class="tagline">{{ tagline }}</p>
    <div class="button-container">
      <button class="btn-primary" (click)="goToProjects()">See My Projects</button>
    </div>
  </div>

 
    
    
</div>