<nav class="menu-bar">
    <div class="logo"></div>
    <div class="menu-bar">
        <ul class="menu-links">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
            <li><a routerLink="/tools" routerLinkActive="active">Tools</a></li>
        </ul>
    </div>
    <div class="contact-bar">
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
</nav>